body{
    margin:0;
    font-family:Arial;
    background:#0a0f1c;
    color:white;
}

/* MAIN LAYOUT */
.layout{
    display:flex;
    height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:240px;
    background:rgba(255,255,255,0.06);
    backdrop-filter:blur(12px);

    padding:20px;

    border-right:1px solid rgba(255,255,255,0.1);
}

.sidebar h2{
    color:#ff3b3b;
    margin-bottom:20px;
}

/* SIDEBAR BUTTONS */
.sidebar button{
    width:100%;
    padding:12px;

    margin:8px 0;

    border:none;
    border-radius:10px;

    background:#1e293b;
    color:white;

    cursor:pointer;

    transition:0.3s;
}

.sidebar button:hover{
    background:#ff3b3b;
    transform:scale(1.05);
}

/* MAIN AREA */
.main{
    flex:1;
    padding:20px;

    display:flex;
    justify-content:center;
    align-items:flex-start;
}

/* CARD DESIGN */
.card{
    width:90%;
    max-width:900px;

    padding:20px;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,0.6);

    display:none;
    animation:fadeIn 0.4s ease;
}

/* ACTIVE SECTION */
.active{
    display:block;
}

/* MAP BOX */
.map-box{
    height:400px;

    margin-top:15px;

    background:#111827;

    border-radius:12px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#aaa;

    border:1px solid rgba(255,255,255,0.1);
}

/* ANIMATION */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.map-container{
    width:100%;
    margin-top:15px;

    border-radius:15px;
    overflow:hidden;

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:0 10px 25px rgba(0,0,0,0.6);
}